Skip to content
This repository
Search
Pull requests
Issues
Gist
 @MoWangChen
 Watch 1
  Unstar 14
  Fork 1 Heisenbean/PopView
 Code  Issues 0  Pull requests 0  Wiki  Pulse  Graphs
Branch: master Find file Copy pathPopView/.gitignore
d89ce68  on 30 Nov 2015
 Phil Initial commit
0 contributors
RawBlameHistory     34 lines (30 sloc)  635 Bytes
# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build
Status API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Contact Help
